.one{
    text-align: center;
  }
  
  .one button {
    color: #6C7072;
    border-radius:10px;
    padding: 2px 20px;
    border: none;
  }
  
  .two{
    text-align: center;
  }
  
  .two button {
    color: #6C7072;
    border-radius:10px;
    padding: 2px 20px;
    border: none;
  }