* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg {
    background-color: black;
    padding: 5px;
    width: 300px;
}
#stepper1 {
    margin: 1rem;
    width: 200px;
    display: flex;;
}

#minus1 {
    text-align: center;
    width: 100px;
    border: 2px solid #E3E5E5;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
    font-size: 40px;
}

#minus1 p {
    font-size: 25px;
    color: #979C9E;
}

#plus1 {
    text-align: center;
    width: 100px;
    border: 2px solid #E3E5E5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #6B4EFF;
    font-weight: bold;
}

#plus1 p {
    line-height: 30px;
}


#stepper2 {
    margin: 1rem;
    margin-top: none;
    width: 100px;
    display: flex;
}

#minus2 {
    text-align: center;
    width: 50px;
    border: 1px solid #E3E5E5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: none;
    font-size: 18px;
}

#minus2 p {
    line-height: 15px;
    font-size: 20px;
    color: #979C9E;
}

#plus2 {
    text-align: center;
    width: 50px;
    border: 1px solid #E3E5E5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #6B4EFF;
    font-weight: bold;
}

#stepper3 {
    margin: 1rem;
    display: flex;
    width: 200px;
    justify-content: space-around;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 9px;
}

#minus3 {
    color: #6C7072;
}

#plus3 {
    color: #6B4EFF;
}

#stepper4 {
    margin: 1rem;
    display: flex;
    width: 150px;
    justify-content: space-around;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 6px;
}

#stepper4 img {
    width: 8px;
}

#minus4 p {
    line-height: 18px;
    color: #6C7072;
}

#plus4 {
    color: #6B4EFF;
}

