
input[type="radio"]:checked {
    accent-color: #6B4EFF; 
}

input[type="radio"]:checked {
    background-color: #6B4EFF; 
}


label {
    color: #6B4EFF; 
    margin-left: 5px; 
    background-color: black;
    width: 40px;
    height: 40px;
}

.radioBtn {
    background-color: black;
    height: 50px;
    width: 50px;
    padding: 10px;
}


.checkBox {
    margin-top: 50px;
    margin-left: 20px;
    accent-color: #6B4EFF;
    background-color: black;
}

.checkBoxContainer {
    margin-top: 40px;
    background-color: black;
    width: 70px;
    margin-left: 5px;
}