#structure {
    display: block;
    width: 327px;
    height: 48px;
    padding: 16px 1px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 48px;
    color: var(--sky-white, #FFF);
    text-align: center;


    /* Regular/None/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}

.buttonComponent {
}

#firstRow {
    gap: 4px;
    .first {
        background: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-dark, #5538EE);    
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--ink-dark, #303437);
        color: var(--ink-light, #6C7072);
        margin-bottom: 35px;
    }
}

#secondRow {
    gap: 4px;
    .first {
        border-radius: 48px;
        background: var(--primary-lighter, #C6C4FF);
        color: var(--primary-dark, #5538EE);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-light, #9990FF);
        color: var(--primary-dark, #5538EE); 
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--ink-dark, #303437);
        color: var(--ink-light, #6C7072);
        margin-bottom: 35px;
    }
}

#thirdRow {
    gap: 4px;
    .first {
        border-radius: 48px;        
        background: var(--primary-light, black);
        border: 1px solid var(--primary-light, #9990FF);
        color: var(--primary-light, #9990FF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-light, black);
        border: 1px solid var(--primary-base, #6B4EFF);
        color: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--primary-light, black);
        border: 1px solid var(--ink-base, #404446);
        color: var(--ink-base, #404446);
        margin-bottom: 35px;
    }
}

#fourthRow {
    gap: 4px;
    .first {
        border-radius: 48px;        
        background: var(--primary-light, black);
        color: var(--primary-light, #9990FF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-lighter, #C6C4FF);
        color: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--primary-light, black);
        color: var(--ink-base, #404446);
        margin-bottom: 35px;
    }
}

/* Start of Small Buttons*/

#structureSmall {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;


    /* Regular/None/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}

#fifthRow {
    gap: 4px;
    .first {
        border-radius: 48px;
        background: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-dark, #5538EE);    
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--ink-dark, #303437);
        color: var(--ink-light, #6C7072);
        margin-bottom: 35px;
    }
}

#sixthRow {
    gap: 4px;
    .first {
        border-radius: 48px;
        background: var(--primary-lighter, #C6C4FF);
        color: var(--primary-dark, #5538EE);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-light, #9990FF);
        color: var(--primary-dark, #5538EE); 
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--ink-dark, #303437);
        color: var(--ink-light, #6C7072);
        margin-bottom: 35px;
    }
}

#seventhRow {
    gap: 4px;
    .first {
        border-radius: 48px;        
        background: var(--primary-light, black);
        border: 1px solid var(--primary-light, #9990FF);
        color: var(--primary-light, #9990FF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-light, black);
        border: 1px solid var(--primary-base, #6B4EFF);
        color: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--primary-light, black);
        border: 1px solid var(--ink-base, #404446);
        color: var(--ink-base, #404446);
        margin-bottom: 35px;
    }
}

#eighthRow {
    gap: 4px;
    .first {
        border-radius: 48px;        
        background: var(--primary-light, black);
        color: var(--primary-light, #9990FF);
        margin-bottom: 10px;
    }
    .second {
        border-radius: 48px;
        background: var(--primary-lighter, #C6C4FF);
        color: var(--primary-base, #6B4EFF);
        margin-bottom: 10px;
    }
    .third {
        border-radius: 48px;
        background: var(--primary-light, black);
        color: var(--ink-base, #404446);
        margin-bottom: 35px;
    }
}





