:root {
    --inkdarkest: rgba(9, 10, 10, 1);
    --inkdarker: rgba(32, 35, 37, 1);
    --inkdark: rgba(48, 52, 55, 1);
    --inkbase: rgba(64, 68, 70, 1);
    --inklight: rgba(108, 112, 114, 1);
    --inklighter: rgba(114, 119, 122, 1);
    --skydark: rgba(151, 156, 158, 1);
    --skybase: rgba(205, 207, 208, 1);
    --skylight: rgba(227, 229, 229, 1);
    --skylighter: rgba(242, 244, 245, 1);
    --skylightest: rgba(247, 249, 250, 1);
    --skywhite: rgba(255, 255, 255, 1);
    --primarydark: rgba(85, 56, 238, 1);
    --primarybase: rgba(107, 78, 255, 1);
    --primarylight: rgba(153, 144, 255, 1);
    --primarylighter: rgba(198, 196, 255, 1);
    --primarylightest: rgba(231, 231, 255, 1);
    --greendarkest: rgba(25, 129, 85, 1);
    --greenbase: rgba(35, 193, 107, 1);
    --greenlight: rgba(76, 212, 113, 1);
    --greenlighter: rgba(125, 222, 134, 1);
    --greenlightest: rgba(236, 252, 229, 1);
    --reddarkest: rgba(211, 24, 12, 1);
    --redbase: rgba(255, 82, 71, 1);
    --redlight: rgba(255, 109, 109, 1);
    --redlighter: rgba(255, 152, 152, 1);
    --redlightest: rgba(255, 229, 229, 1);
    --bluedarkest: rgba(0, 101, 208, 1);
    --bluebase: rgba(72, 167, 248, 1);
    --bluelight: rgba(110, 194, 251, 1);
    --bluelighter: rgba(155, 220, 253, 1);
    --bluelightest: rgba(201, 240, 255, 1);
    --yellowdarkest: rgba(160, 94, 3, 1);
    --yellowbase: rgba(255, 179, 35, 1);
    --yellowlight: rgba(255, 196, 98, 1);
    --yellowlighter: rgba(255, 209, 136, 1);
    --yellowlightest: rgba(255, 239, 215, 1);
    --x3rd-partyfacebookbase: rgba(0, 120, 255, 1);
    --x3rd-partyfacebookdark: rgba(0, 103, 219, 1);
    --x3rd-partytwitterbase: rgba(29, 161, 242, 1);
    --x3rd-partytwitterdark: rgba(12, 144, 225, 1);
    --title-1-font-family: "Inter-Bold", Helvetica;
    --title-1-font-weight: 700;
    --title-1-font-size: 48px;
    --title-1-letter-spacing: 0px;
    --title-1-line-height: 56px;
    --title-1-font-style: normal;
    --title-2-font-family: "Inter-Bold", Helvetica;
    --title-2-font-weight: 700;
    --title-2-font-size: 32px;
    --title-2-letter-spacing: 0px;
    --title-2-line-height: 36px;
    --title-2-font-style: normal;
    --title-3-font-family: "Inter-Bold", Helvetica;
    --title-3-font-weight: 700;
    --title-3-font-size: 24px;
    --title-3-letter-spacing: 0px;
    --title-3-line-height: 32px;
    --title-3-font-style: normal;
    --large-none-bold-font-family: "Inter-Bold", Helvetica;
    --large-none-bold-font-weight: 700;
    --large-none-bold-font-size: 18px;
    --large-none-bold-letter-spacing: 0px;
    --large-none-bold-line-height: 18px;
    --large-none-bold-font-style: normal;
    --large-none-medium-font-family: "Inter-Medium", Helvetica;
    --large-none-medium-font-weight: 500;
    --large-none-medium-font-size: 18px;
    --large-none-medium-letter-spacing: 0px;
    --large-none-medium-line-height: 18px;
    --large-none-medium-font-style: normal;
    --large-none-regular-font-family: "Inter-Regular", Helvetica;
    --large-none-regular-font-weight: 400;
    --large-none-regular-font-size: 18px;
    --large-none-regular-letter-spacing: 0px;
    --large-none-regular-line-height: 18px;
    --large-none-regular-font-style: normal;
    --large-tight-bold-font-family: "Inter-Bold", Helvetica;
    --large-tight-bold-font-weight: 700;
    --large-tight-bold-font-size: 18px;
    --large-tight-bold-letter-spacing: 0px;
    --large-tight-bold-line-height: 20px;
    --large-tight-bold-font-style: normal;
    --large-tight-medium-font-family: "Inter-Medium", Helvetica;
    --large-tight-medium-font-weight: 500;
    --large-tight-medium-font-size: 18px;
    --large-tight-medium-letter-spacing: 0px;
    --large-tight-medium-line-height: 20px;
    --large-tight-medium-font-style: normal;
    --large-tight-regular-font-family: "Inter-Regular", Helvetica;
    --large-tight-regular-font-weight: 400;
    --large-tight-regular-font-size: 18px;
    --large-tight-regular-letter-spacing: 0px;
    --large-tight-regular-line-height: 20px;
    --large-tight-regular-font-style: normal;
    --large-normal-bold-font-family: "Inter-Bold", Helvetica;
    --large-normal-bold-font-weight: 700;
    --large-normal-bold-font-size: 18px;
    --large-normal-bold-letter-spacing: 0px;
    --large-normal-bold-line-height: 24px;
    --large-normal-bold-font-style: normal;
    --large-normal-medium-font-family: "Inter-Medium", Helvetica;
    --large-normal-medium-font-weight: 500;
    --large-normal-medium-font-size: 18px;
    --large-normal-medium-letter-spacing: 0px;
    --large-normal-medium-line-height: 24px;
    --large-normal-medium-font-style: normal;
    --large-normal-regular-font-family: "Inter-Regular", Helvetica;
    --large-normal-regular-font-weight: 400;
    --large-normal-regular-font-size: 18px;
    --large-normal-regular-letter-spacing: 0px;
    --large-normal-regular-line-height: 24px;
    --large-normal-regular-font-style: normal;
    --regular-none-bold-font-family: "Inter-Bold", Helvetica;
    --regular-none-bold-font-weight: 700;
    --regular-none-bold-font-size: 16px;
    --regular-none-bold-letter-spacing: 0px;
    --regular-none-bold-line-height: 16px;
    --regular-none-bold-font-style: normal;
    --regular-none-medium-font-family: "Inter-Medium", Helvetica;
    --regular-none-medium-font-weight: 500;
    --regular-none-medium-font-size: 16px;
    --regular-none-medium-letter-spacing: 0px;
    --regular-none-medium-line-height: 16px;
    --regular-none-medium-font-style: normal;
    --regular-none-regular-font-family: "Inter-Regular", Helvetica;
    --regular-none-regular-font-weight: 400;
    --regular-none-regular-font-size: 16px;
    --regular-none-regular-letter-spacing: 0px;
    --regular-none-regular-line-height: 16px;
    --regular-none-regular-font-style: normal;
    --regular-tight-bold-font-family: "Inter-Bold", Helvetica;
    --regular-tight-bold-font-weight: 700;
    --regular-tight-bold-font-size: 16px;
    --regular-tight-bold-letter-spacing: 0px;
    --regular-tight-bold-line-height: 20px;
    --regular-tight-bold-font-style: normal;
    --regular-tight-medium-font-family: "Inter-Medium", Helvetica;
    --regular-tight-medium-font-weight: 500;
    --regular-tight-medium-font-size: 16px;
    --regular-tight-medium-letter-spacing: 0px;
    --regular-tight-medium-line-height: 20px;
    --regular-tight-medium-font-style: normal;
    --regular-tight-regular-font-family: "Inter-Regular", Helvetica;
    --regular-tight-regular-font-weight: 400;
    --regular-tight-regular-font-size: 16px;
    --regular-tight-regular-letter-spacing: 0px;
    --regular-tight-regular-line-height: 20px;
    --regular-tight-regular-font-style: normal;
    --regular-normal-bold-font-family: "Inter-Bold", Helvetica;
    --regular-normal-bold-font-weight: 700;
    --regular-normal-bold-font-size: 16px;
    --regular-normal-bold-letter-spacing: 0px;
    --regular-normal-bold-line-height: 24px;
    --regular-normal-bold-font-style: normal;
    --regular-normal-medium-font-family: "Inter-Medium", Helvetica;
    --regular-normal-medium-font-weight: 500;
    --regular-normal-medium-font-size: 16px;
    --regular-normal-medium-letter-spacing: 0px;
    --regular-normal-medium-line-height: 24px;
    --regular-normal-medium-font-style: normal;
    --regular-normal-regular-font-family: "Inter-Regular", Helvetica;
    --regular-normal-regular-font-weight: 400;
    --regular-normal-regular-font-size: 16px;
    --regular-normal-regular-letter-spacing: 0px;
    --regular-normal-regular-line-height: 24px;
    --regular-normal-regular-font-style: normal;
    --small-none-bold-font-family: "Inter-Bold", Helvetica;
    --small-none-bold-font-weight: 700;
    --small-none-bold-font-size: 14px;
    --small-none-bold-letter-spacing: 0px;
    --small-none-bold-line-height: 14px;
    --small-none-bold-font-style: normal;
    --small-none-medium-font-family: "Inter-Medium", Helvetica;
    --small-none-medium-font-weight: 500;
    --small-none-medium-font-size: 14px;
    --small-none-medium-letter-spacing: 0px;
    --small-none-medium-line-height: 14px;
    --small-none-medium-font-style: normal;
    --small-none-regular-font-family: "Inter-Regular", Helvetica;
    --small-none-regular-font-weight: 400;
    --small-none-regular-font-size: 14px;
    --small-none-regular-letter-spacing: 0px;
    --small-none-regular-line-height: 14px;
    --small-none-regular-font-style: normal;
    --small-tight-bold-font-family: "Inter-Bold", Helvetica;
    --small-tight-bold-font-weight: 700;
    --small-tight-bold-font-size: 14px;
    --small-tight-bold-letter-spacing: 0px;
    --small-tight-bold-line-height: 16px;
    --small-tight-bold-font-style: normal;
    --small-tight-medium-font-family: "Inter-Medium", Helvetica;
    --small-tight-medium-font-weight: 500;
    --small-tight-medium-font-size: 14px;
    --small-tight-medium-letter-spacing: 0px;
    --small-tight-medium-line-height: 16px;
    --small-tight-medium-font-style: normal;
    --small-tight-regular-font-family: "Inter-Regular", Helvetica;
    --small-tight-regular-font-weight: 400;
    --small-tight-regular-font-size: 14px;
    --small-tight-regular-letter-spacing: 0px;
    --small-tight-regular-line-height: 16px;
    --small-tight-regular-font-style: normal;
    --small-normal-bold-font-family: "Inter-Bold", Helvetica;
    --small-normal-bold-font-weight: 700;
    --small-normal-bold-font-size: 14px;
    --small-normal-bold-letter-spacing: 0px;
    --small-normal-bold-line-height: 20px;
    --small-normal-bold-font-style: normal;
    --small-normal-medium-font-family: "Inter-Medium", Helvetica;
    --small-normal-medium-font-weight: 500;
    --small-normal-medium-font-size: 14px;
    --small-normal-medium-letter-spacing: 0px;
    --small-normal-medium-line-height: 20px;
    --small-normal-medium-font-style: normal;
    --small-normal-regular-font-family: "Inter-Regular", Helvetica;
    --small-normal-regular-font-weight: 400;
    --small-normal-regular-font-size: 14px;
    --small-normal-regular-letter-spacing: 0px;
    --small-normal-regular-line-height: 20px;
    --small-normal-regular-font-style: normal;
    --tiny-none-bold-font-family: "Inter-Bold", Helvetica;
    --tiny-none-bold-font-weight: 700;
    --tiny-none-bold-font-size: 12px;
    --tiny-none-bold-letter-spacing: 0px;
    --tiny-none-bold-line-height: 12px;
    --tiny-none-bold-font-style: normal;
    --tiny-none-medium-font-family: "Inter-Medium", Helvetica;
    --tiny-none-medium-font-weight: 500;
    --tiny-none-medium-font-size: 12px;
    --tiny-none-medium-letter-spacing: 0px;
    --tiny-none-medium-line-height: 12px;
    --tiny-none-medium-font-style: normal;
    --tiny-none-regular-font-family: "Inter-Regular", Helvetica;
    --tiny-none-regular-font-weight: 400;
    --tiny-none-regular-font-size: 12px;
    --tiny-none-regular-letter-spacing: 0px;
    --tiny-none-regular-line-height: 12px;
    --tiny-none-regular-font-style: normal;
    --tiny-tight-bold-font-family: "Inter-Bold", Helvetica;
    --tiny-tight-bold-font-weight: 700;
    --tiny-tight-bold-font-size: 12px;
    --tiny-tight-bold-letter-spacing: 0px;
    --tiny-tight-bold-line-height: 14px;
    --tiny-tight-bold-font-style: normal;
    --tiny-tight-medium-font-family: "Inter-Medium", Helvetica;
    --tiny-tight-medium-font-weight: 500;
    --tiny-tight-medium-font-size: 12px;
    --tiny-tight-medium-letter-spacing: 0px;
    --tiny-tight-medium-line-height: 14px;
    --tiny-tight-medium-font-style: normal;
    --tiny-tight-regular-font-family: "Inter-Regular", Helvetica;
    --tiny-tight-regular-font-weight: 400;
    --tiny-tight-regular-font-size: 12px;
    --tiny-tight-regular-letter-spacing: 0px;
    --tiny-tight-regular-line-height: 14px;
    --tiny-tight-regular-font-style: normal;
    --tiny-normal-bold-font-family: "Inter-Bold", Helvetica;
    --tiny-normal-bold-font-weight: 700;
    --tiny-normal-bold-font-size: 12px;
    --tiny-normal-bold-letter-spacing: 0px;
    --tiny-normal-bold-line-height: 16px;
    --tiny-normal-bold-font-style: normal;
    --tiny-normal-medium-font-family: "Inter-Medium", Helvetica;
    --tiny-normal-medium-font-weight: 500;
    --tiny-normal-medium-font-size: 12px;
    --tiny-normal-medium-letter-spacing: 0px;
    --tiny-normal-medium-line-height: 16px;
    --tiny-normal-medium-font-style: normal;
    --tiny-normal-regular-font-family: "Inter-Regular", Helvetica;
    --tiny-normal-regular-font-weight: 400;
    --tiny-normal-regular-font-size: 12px;
    --tiny-normal-regular-letter-spacing: 0px;
    --tiny-normal-regular-line-height: 16px;
    --tiny-normal-regular-font-style: normal;
    --shadow-small: 0px 0px 8px 0px rgba(20, 20, 20, 0.08), 0px 0px 1px 0px rgba(20, 20, 20, 0.04);
    --shadow-medium: 0px 1px 8px 2px rgba(20, 20, 20, 0.08), 0px 0px 1px 0px rgba(20, 20, 20, 0.08);
    --shadow-large: 0px 1px 24px 8px rgba(20, 20, 20, 0.08), 0px 0px 1px 0px rgba(20, 20, 20, 0.08);
  }
  