* {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

#searchBars {
  padding: 1rem;
  color: white;
}

::placeholder,
p {
  color: rgb(183, 183, 183);
  font-size: large;
  text-align: left;
}


#bar1 {
  border-radius: 8px;
  border: none;
  background-color: #313131;
  width: 327px;
  height: 36px;
  margin: 1rem 0.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#bar2,
#bar3 {
  background-color: black;
}

fieldset {
  border-radius: 8px;
  border: none;
  background-color: #313131;
  width: 250px;
  height: 36px;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.fa {
  background-color: #313131;
  color: rgb(183, 183, 183);
  align-self: center;
}

input {
  background-color: #313131;
  padding: 10px;
  text-align: left;
  border: none;
}

p {
  margin-left: 1rem;
}
