.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    background-color: black;
    padding: 5px;
  }
  
  .hover-text:hover .tooltip-text {
    visibility: visible;
  }
  
  .top {
    top: -40px;
    left: -50%;
  }
  
  .bottom {
    top: 25px;
    left: -50%;
  }
  
  .left {
    top: -8px;
    right: 120%;
  }
  
  .right {
    top: -8px;
    left: 120%;
  }
  
  .hover-text {
    position: relative;
    display: inline-block;
    margin: 40px;
    text-align: center;
  }
  


/**arrows**/
.tooltip-text::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .top::after{ 
    top: 100%;
    left: 15%;
  }
  .bottom::after{ 
    top: -35%;
    left: 45%;
    rotate: 180deg;
  }
  .right::after{
    top: 35%;
    left: -4%;
    rotate: 90deg;
  }
  .left::after{
      top: 35%;
    rotate: 270deg;
    left: 104%;
  }
  